:root {
    --bg-color: #023047;
    --font-color: #fdf0d5;
    --font-family: ui-serif, sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}
